


##################################  AI_Stack Deploy Variables   #################
VERSION=1.0.0

# -----------------------------
# OLLAMA
# -----------------------------
OLLAMA_PORT=11434
# Lista de modelos a instalar
OLLAMA_MODELS="nomic-embed-text:latest ministral-3:3B"
# Se pueden agregar mas modelos al listado, sin embargo solo debe haber un modelo de embedding 
# Obligatorio: especificar tamaño del embedding (en caso de cambiar el modelo de embedding, volver a especificar)
EMBEDDING_SIZE=768

# -----------------------------
# POSTGRES
# -----------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=flowise
POSTGRES_PORT=5432

# -----------------------------
# FLOWISE
# -----------------------------
FLOWISE_PORT=3000
DATABASE_SCHEMA=public

OLLAMA_BASE_URL=http://ollama:11434


# ========================
# n8n
# ========================
N8N_PORT=5678
N8N_BASE_URL=http://n8n:5678
N8N_TIMEZONE=America/Panama

# Datos que usara livekit-agent
# 1. URL del MCP Server de n8n 
# 2. Token de acceso a ese MCP server configurdo en n8n
# estos son ejemplos de una instancia local y su ubicacion en n8n
# y el token de acceso de la autenticacion barer del server MCP
N8N_MCP_URL=http://n8n:5678/mcp/4257b4b3-7239-4329-b407-cf3fe91c149a
N8N_MCP_TOKEN=RIyupT26ZfAkMyvqhv512X1MBzLYOd4L


# ========================
# Postgres exclusivo n8n
# ========================
N8N_POSTGRES_PORT=5434
N8N_POSTGRES_SCHEMA=public
N8N_POSTGRES_DB=n8n
N8N_POSTGRES_USER=n8n_user
N8N_POSTGRES_PASSWORD=n8n_password_segura


